<%
 goto body
 ;
onPOST ;
 TS
 I $$data^%web("debug")="on" S ^sParam("debug")=1
 E  S ^sParam("debug")=0
 S ^sParam("tplc")=$$data^%web("SaveCompiledTemplatesTo")
 TC
 D setHeader^%web("Location",$$url^%web("/system/config"))
 Q
 ;
body
%>
<% do header^cplTemplateT("Configuration") %>

<form action="<% $$url^%web("/system/config") %>" method="post">

<table>
  <tr>
    <th>Debug Mode</th>
    <% set checked=$s($g(^sParam("debug"))=1:"checked=""checked""",1:"") %>
    <td><input type="checkbox" <% checked %> name="debug"/></td>
  </tr>
  <tr>
    <th>Save Compiled Templates To</th>
    <td><input type="text"
               name="SaveCompiledTemplatesTo"
               size="45"
               value="<% $$HTMLout^%cgi($g(^sParam("tplc"))) %>"/></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" value="Save"/></td>
  </tr>
</table>

</form>

<% do footer^cplTemplaterT %>
