<% do header^cplTemplate("List Global") %>

<pre>
<% new g,pad,i,root,cols,sub,val %>
<% set g="^"_$$data^%web("global"),root=$qs(g,0) %>
<% for  set g=$query(@g) quit:g=""  do %>
<%
 . set cols=80
 . set val=$$repr^%str(@g)
 . if $l(g)+$l(val)+3<(cols+1) d send^%web(g_" = "_$$HTMLout^%cgi(val)) q
 . ; otherwise, we need to break up the value
 . do send^%web(g_" = "_$$HTMLout^%cgi($e(val,1,cols-$l(g)-3)))
 . set pad="" for i=1:1:$l(g)+3 s pad=pad_" "
 . for i=(cols-$l(g)-2):cols+1:$l(val) do send^%web(pad_$e(val,i,i+cols))
 . quit
%>
<% end %>
</pre>

<% do footer^cplTemplate %>
