<%
 goto body
txt(id,value,size) ;
 if $get(size)="" set size=25
 quit "<input type=""text"" id="""_id_""" value="""_value_""" size="""_size_"""/>"
 ;
body ;
 new row,rte,sub,i
 set rte=""
%>
<% do header^cplTemplate("Routes") %>
<table>
<tr>
  <th>Pattern</th>
  <th>Entry Point</th>
</tr>
<% set row=0,sub=$na(^sWebRoute) for  set sub=$q(@sub) quit:sub=""  do %>
<% set rte="",row=row+1 for i=1:1:$ql(sub) set rte=rte_"/"_$qs(sub,i) %>
<tr>
  <td><% $$txt("route-"_row,rte,40) %></td>
  <td><% $$txt("endpoint-"_row,$p(@sub,"|",2)) %></td>
</tr>
<% end %>
</table>
<% do footer^cplTemplate %>
