<%
 quit
 ;
lit(url) ;
 if $$sw^%str($$env^%web("PATH_INFO"),url) quit " lit"
 quit ""
 ;
header(section) ;
 set section=$get(section)
 set:section'="" section=" :: "_section ;'
%>
<!doctype html>
<html>
<head>
<title>Reynard CP<% section %></title>
<style>

body {
    margin: 0;
    padding: 0;
}

#content {
    float: left;
    padding-left: 5px;
}

#nav {
    float: left;
    font-family: Lucida Grande, Lucida Sans Unicode;
    font-size: 13px;
}

#nav td {
    background-color: #EFEFEF;
    margin: 3px;
    padding: 5px;
    width: 150px;
}

#nav td.spacer {
    background-color: #FFFFFF;
    padding: 0;
    width: 4px;
}

#nav td.lit {
    background-color: #8B0000;
}

#footer {
    clear: both;
}

</style>
</head>
<body>
    
<div id="nav">
  <table>
    <tr>
      <td class="spacer<% $$lit("/system/config") %>"></td>
      <td><a href="<% $$url^%web("/system/config") %>">Configuration</a></td>
    </tr>
    <tr>
      <td class="spacer<% $$lit("/system/globals") %>"></td>
      <td><a href="<% $$url^%web("/system/globals") %>">Globals</a></td>
    </tr>
    <tr>
      <td class="spacer<% $$lit("/system/routines") %>"></td>
      <td><a href="<% $$url^%web("/system/routines") %>">Routines</a></td>
    </tr>
    <tr>
      <td class="spacer<% $$lit("/system/routes") %>"></td>
      <td><a href="<% $$url^%web("/system/routes") %>">Web Routes</a></td>
    </tr>
  </table>
</div>

<div id="content">
<%
 quit
footer ;
%>
</div>
<center id="footer">
<div><small><% $ZV %></small></div>
<div><small><% $$env^%web("REMOTE_ADDR") %></small></div>
</center>
</html>
<% quit %>
